<!DOCTYPE html>
<html lang='en'>
  <head>
    <title> Tic Tac Toe </title>
  </head>
  <body>
    <h1> Don't hate the player, hate the game </h1>
    <p> <%= @board.positions %> </p>
  </body>
</html>

