<!DOCTYPE html>
<html lang='en'>
  <head>
    <title> Tic Tac Toe </title>
  </head>
  <body>
    <h1> Welcome to Tic-Tac-Toe! </h1>
    <p> Begin the game </a> </p>
    <p> <a href='/hvc'> Human vs. Computer </a> </p>
    <p> <a href='/hvh'> Human vs. Human </a> </p>
    <p> <a href='/cvc'> Computer vs. Computer</a> </p>
  </body>
</html>
