<!DOCTYPE html>
<html lang='en'>
  <head>
    <title> Tic Tac Toe </title>
  </head>
  <body>
    <h1> Welcome to Tic-Tac-Toe! </h1>
    <p> <a href='/game'> Begin the game </a> </p>
  </body>
</html>
