<h1 class="welcome"> Welcome to Tic-Tac-Toe </h1>

<div class="choice-list">
  <h2 class="game-choice-heading"> Choose your game type: </h2>
  <ul>
    <li class ="game-choice"> <a href='/hvc'> Human vs. Computer </a> </li>
    <li class="game-choice"> <a href='/hvh'> Human vs. Human </a> </li>
  </ul>
</div>